/* You can add global styles to this file, and also import other style files */
body {
  background-color: #c0c0c0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
